html, button, input, select, textarea{font-family: sans-serif;}
body{margin:0;font-size:1.5em;font-family: 'Lato',sans-serif;}

html, body{
    /*overflow-x: hidden;*/
    display: flex;
    flex-flow: column;
    height: 100%;
}

header, main, footer{
    width: 100%;
    min-width: 600px;
}



header{
    position: relative;
    display: block;
    width: 100%;
    min-height: 20em;
    background: url(/img/design/header_image.jpg) 50% 87%;
    background-size: 100% auto;
    flex: 0 1 20em;
}

header a#logo{
    position: relative;
    background: url(/img/design/fixedlogo2.png) no-repeat center;
    background-size: auto 80%;
    width: 50%;
    height: 10em;
    margin: 0 auto 10px auto;
    display: block;
}

header a#logo:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -o-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

header nav#main_menu{
    /*margin: 10px auto;*/
    /*margin-bottom: 0;*/
    width: 100%;
    padding: 0 12.5%;
    display: flex;
    position: absolute;
    bottom: 0;
    /*background-color: rgb(0 ,66,117);*/
    background-color: #ffb94b;
    border-top: #DEA241 1px solid;
    border-bottom: #DEA241 1px solid;
    /*border-bottom: #8fc7ff 1px solid;*/
}

header nav#main_menu a {
    border-left: #DEA241 1px solid;
    color: #404040;
    padding: 10px 10px 10px 10px;
    background-size: auto 60%;
    background-position: 5px center;
    flex: 1;
    font-weight: bold;
    text-align: center;
    outline: 0;
}


header nav#main_menu a:last-of-type{
    border-right: #DEA241 1px solid;
}

header nav#main_menu a:hover, header nav#main_menu a.active{
    background-color: #ffd18b;
    text-decoration: none;
    -o-transition:.75s;
    -moz-transition:.75s;
    -webkit-transition:.75s;
    transition:.5s;
}

header nav#main_menu a:focus {
    text-decoration: none;
}

header nav#main_menu a div.menu-item span.icon {
    position: relative;
    width: 24px;
    height:24px;
    background-size: auto 100%;
    margin-right: 4px;
    margin-top: 5px;
}

header nav#main_menu a div.menu-item span.menu-text {
    height: 24px;
    position: relative;
    top: -5px;
}

header nav#main_menu a div.menu-item {
    margin: 0 auto;
}

main{
    padding: 0 12.5%;
    margin-top: 48px;
    width: 100%;
    position: relative;
    display: flex;
    flex: 1 1 auto;
}

main section{
    padding: 0.2em;
    max-width: 50%;
}

section#container_left{
    flex: 1;
}
section#container_right{
    flex: 1;
}

section#container_center{
    max-width: 100%;
    flex: 1;
    display: none;
}

footer{
    display: block;
    padding: 1em;
    text-align: center;
    width: 100%;
    min-height: 140px;
    background: rgba(255, 209, 139, 0.5) no-repeat;
    /*color: #ffd18b*/
    position: relative;
    flex: 0 1 100px;
}

footer section#quotes blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 75%;
    margin: 0.25em auto;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
    border: 0;
}

footer section#quotes blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

footer section#quotes blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

footer section#quotes blockquote cite:before {
    content: "\2014 \2009";
}

/* page sections */

div#contact input, div#contact textarea, div#contact button{
    /*margin: 0 auto;*/
    /*display: block;*/
}

/*https://coolors.co/424874-dcd6f7-a6b1e1-cacfd6-d6e5e3*/

/* profile page */

div#profile{
    width: 100%;
}

div#profile div#image_container{
    display: flex;
    flex-direction: row;
    width: 100%;
    /*height: 1%;*/
    /*max-height: 500px;*/
}

div#profile div#image_container div.image-frame{
    width: 33.333%;
    /*height: auto;*/
    border-top: #ffd18b 5px solid;
    border-bottom: #ffd18b 5px solid;
    border-left: #ffd18b 5px solid;
    vertical-align: center;
}

div#profile div#image_container div.image-frame img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;
}



div#profile div#image_container div.image-frame:last-of-type{
    border-right: #ffd18b 5px solid;
}

div#profile div#contact{
    color: #404040;
    width: 100%;
    max-width: 450px;
    margin: 1em auto 1em auto;
    border: #DEA241 5px solid;
    background-color: #FFD18B;
    /*height: 260px;*/
}

div#profile div#contact h3{
    padding: 0.75em 0 0 0;
    margin: 0;
    text-align: center;
}

div#profile div#contact input{
    background-color: rgba(255,255,255,0);
    border: #ffd18b 2px solid;
    width: 100%;
    color: #404040;
    margin: 1px auto;
    display: block;
    border-bottom: #DEA241 2px solid;
}

div#profile div#contact input:focus{
    border-bottom: rgba(255,255,255,0.5) 2px solid;
}

div#profile div#contact textarea{
    background-color: rgba(255,255,255,0.25);
    width: 100%;
    border: #ffd18b 2px solid;
    color: #404040;
    margin: 1px auto;
    display: block;
    resize: none;

}

/*div#profile div#contact button#btnContactSend{*/
    /*display: inline-block;*/
    /*background-color: rgba(255,255,255,0.25);*/
    /*border: #ffd18b 2px solid;*/
    /*color: #404040;*/
    /*float: right;*/
    /*margin-right: 1%;*/
    /*margin-top: 1%;*/
    /*padding: 4% 3%;*/
/*}*/

.stamp {
    float: right;
    margin-top: 1%;
    margin-right: 1%;
    border: none;
    padding: 2% 3%;

    width: 20%;
    height: 100%;
    background: white;
    position: relative;
    /*filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.5));*/
    /*-webkit-filter: drop-shadow(0px 0px 20px rgba(0,0,0,0.5));*/
     background: radial-gradient(
            transparent 0,
            transparent 30%,
            #DEA241 30%,
            #DEA241
    );

    background-size: 10% 25%;
    background-position: -5% -50%;
}

.stamp div {
    width: 122%;
    height: 37px;
    background-color: #FFD18B;
    padding: 10% 0;
    margin-left: -10%;
}


div#contactContent, div#contactRecipient{
    box-sizing: border-box;
    float: left;
    width: 50%;
    padding: 1% 3%;
}

div#contactContent{
    border-right: #DEA241 2px solid;

}

div#contact div.clearfix:last-of-type{
    /*height: 0.5%;*/
    display: block;
    font-size: 50%;
}

.clearfix{
    display: block;
    clear: both;
}
