html, button, input, select, textarea{font-family: sans-serif;}
body{margin:0;font-size:1.5em;font-family: 'Lato',sans-serif;}

html, body{
    overflow-x: hidden;
}

header, main, footer{
    width: 100%;
}

header{
    position: relative;
    display: block;
    width: 100%;
    height: 20em;
    background: url(../img/design/header_image.jpg) 50% 87%;
    background-size: 100% auto;
}

header a#logo{
    position: relative;
    background: url(/img/design/fixedlogo2.png) no-repeat center;
    background-size: auto 80%;
    width: 50%;
    height: 10em;
    margin: 0 auto 10px auto;
    display: block;
}

header a#logo:hover {
    opacity: 0.7;
    filter: alpha(opacity=70);
    -o-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
    transition:.2s;
}

header nav#main_menu{
    /*margin: 10px auto;*/
    /*margin-bottom: 0;*/
    width: 100%;
    padding: 0 12.5%;
    display: flex;
    position: absolute;
    bottom: 0;
    /*background-color: rgb(0 ,66,117);*/
    background-color: #ffb94b;
    border-top: #DEA241 1px solid;
    border-bottom: #DEA241 1px solid;
    /*border-bottom: #8fc7ff 1px solid;*/
}

header nav#main_menu a {
    border-left: #DEA241 1px solid;
    color: #404040;
    padding: 10px 10px 10px 10px;
    background-size: auto 60%;
    background-position: 5px center;
    flex: 1;
    font-weight: bold;
    text-align: center;
    outline: 0;
}


header nav#main_menu a:last-of-type{
    border-right: #DEA241 1px solid;
}

header nav#main_menu a:hover, header nav#main_menu a.active{
    background-color: #ffd18b;
    text-decoration: none;
    -o-transition:.75s;
    -moz-transition:.75s;
    -webkit-transition:.75s;
    transition:.5s;
}

header nav#main_menu a:focus {
    text-decoration: none;
}

header nav#main_menu a div.menu-item span.icon {
    position: relative;
    width: 24px;
    height:24px;
    background-size: auto 100%;
    margin-right: 4px;
    margin-top: 5px;
}

header nav#main_menu a div.menu-item span.menu-text {
    height: 24px;
    position: relative;
    top: -5px;
}

header nav#main_menu a div.menu-item {
    margin: 0 auto;
}

main{
    padding: 0 12.5%;
    margin-top: 48px;
    width: 100%;
    position: relative;
    display: flex;
}

section{
    padding: 0.2em;
    max-width: 50%;
}

section#container_left{
    flex: 1;
}
section#container_right{
    flex: 1;
}

section#container_center{
    max-width: 100%;
    flex: 1;
    display: none;
}

footer{
    display: block;
    padding: 1em;
    text-align: center;
    width: 100%;
    min-height: 160px;
    background: rgba(0, 0, 0, 0.01) no-repeat;
    position: relative;
}

/* page sections */

div#contact input, div#contact textarea, div#contact button{
    /*margin: 0 auto;*/
    /*display: block;*/
}

/*https://coolors.co/424874-dcd6f7-a6b1e1-cacfd6-d6e5e3*/

/* profile page */

div#profile{
    width: 100%;
}

div#profile div#image_container{
    display: flex;
    width: 100%;
}

div#profile div#image_container img{
    flex: 1;
    /*border: #ADD8E6 5px solid;*/
    border-top: #ffd18b 5px solid;
    border-bottom: #ffd18b 5px solid;
    border-left: #ffd18b 5px solid;
    margin-bottom: 1em;
    flex-basis: 33%;
}

div#profile div#image_container img:last-of-type{
    border-right: #ffd18b 5px solid;
}

div#profile div#contact{
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-image: url('/img/design/mail.svg');
    background-clip: padding-box content-box;

    /*background:*/
    /*url('')*/
    /*100% 0 / cover  !* position / size *!*/
    /*no-repeat                !* repeat *!*/
    /*fixed                    !* attachment *!*/
    /*padding-box              !* origin *!*/
    /*content-box              !* clip *!*/
    /*#FFF;                     !* color *!*/
    /*background-color: #ADD8E6;*/
    /*padding: 0.2em 0.1em 2em 0.1em;*/
    color: #404040;
    width: 100%;
    height: 260px;
}

div#profile div#contact h3{
    padding: 0;
    margin: 0;
    text-align: center;
}

div#profile div#contact input{
    background-color: #FFF;
    opacity: 0.5;
    border: none;
    width: 85%;
    color: #404040;
    margin: 1px auto;
    display: block;
}

div#profile div#contact textarea{
    width: 85%;
    opacity: 0.5;
    background-color: #FFF;
    border: none;
    color: #404040;
    margin: 1px auto;
    display: block;
    resize: none;
}

div#profile div#contact button{
    opacity: 0.5;
    width: 85%;
    background-color: #FFF;
    border: none;
    color: #404040;
    margin: 1px auto;
    display: block;
}
