.icon{
    display: inline-block;/*display: block;*/
    background: no-repeat center left;
}

.icon-information{
    background-image: url(/img/icon/about.png);
}

.icon-cv{
    background-image: url(/img/icon/cv.png);
}

.icon-project{
    background-image: url(/img/icon/project.png);
}

.icon-favorite{
    background-image: url(/img/icon/favorite.png);
}

.icon-github{
    background-image: url(/img/icon/GitHub-Mark-32px.png);
}

.icon-linkedin{
    background-image: url(/img/icon/linkedin-3-32.png);
}

.icon-blog{
    background-image: url(/img/icon/blog.png);
}