.icon{
    display: inline-block;/*display: block;*/
    background: no-repeat center left;
}

.icon-information{
    background-image: url(/img/icon/info.png);
}

.icon-page{
    background-image: url(/img/icon/page.png);
}

.icon-puzzle{
    background-image: url(/img/icon/puzzle.png);
}

.icon-favorite{
    background-image: url(/img/icon/favorite.png);
}

.icon-github{
    background-image: url(/img/icon/GitHub-Mark-32px.png);
}

.icon-linkedin{
    background-image: url(/img/icon/linkedin-3-32.png);
}