<section id="information" class="right-box">
    <h2>Jan Thomas Hanto</h2>
    <h4>Lærevillig, sosial og strukturert</h4>
    <ul>
        <li>05.07.1989</li>
        <li>+47 97707757</li>
        <li><a href="mailto:jthanto@fixedyour.net">jthanto[at]fixedyour.net</a></li>

    </ul>
    <p>Oppdaget HTML på barneskolen og holdt på med dette i flere år. På videregående var jeg med på mitt første prosjekt med <strong>PHP</strong> og <strong>MySQL</strong>, men hovedsaklig som designer.</p>
    <p>Har siden den tid fått interesse for oppsett av servere, hvor det startet med <strong>Windows Server 2000</strong>, og har utviklet seg til eksperimentering med <strong>proxmox</strong> og mer <strong>linux</strong> relaterte operativsystemer som for eksempel <strong>ubuntu</strong> og <strong>debian</strong>.</p>
    <p>Videreutviklet ferdighetene mine i PHP og MySQL på <strong>Høgskolen i Oslo og Akershus</strong>, hvor interessen for <strong>JavaScript/jQuery</strong> også har meldt seg. Har også lært litt om andre programmeringsspråk for eksempel <strong>Java</strong>, <strong>ASP.NET</strong> og <strong>C#</strong>.</p>

    <p>Ellers har jeg nylig kjøpt meg ny <strong>sykkel</strong>, for å ta opp igjen sykkel som transportmiddel, når jeg syklet mye tidligere.</p>
    <p>Du kan også se meg online på steam, hvor det som oftest går i <strong>Dota 2</strong> sammen med venner og bekjente. Eller du kan finne meg online på <strong>minecraft</strong>, selv om det blir mindre og mindre spilling nå om dagen.</p>
</section>