<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="img/carousel/hioa.vitnemaal.png" alt="Vitnemål">
            <div class="carousel-caption"><h3>Ingeniør fra Høgskolen i Oslo og Akershus</h3></div>
        </div>

        <div class="item">
            <img src="img/carousel/ingfab.png" alt="Logo Ingeniørfabrikken">
            <div class="carousel-caption"><h3>Nestleder for Ingeniørfabrikken</h3></div>
        </div>

        <div class="item">
            <div class="carousel-caption"><h3>Hobby syklist</h3></div>
            <img src="img/carousel/sykkel.png" alt="Sykkel">

        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>