<div id="profile">
    <div id="image_container">
        <img id="profile_pic" src="/img/profile/hioa.vitnemaal.png" alt="Vitnemål HiOA"/>
        <img id="profile_pic" src="/img/profile/janthomashanto.jpg" alt="Jan Thomas Hanto"/>
        <img id="profile_pic" src="/img/profile/sykkel.png" alt="Sykkel"/>
    </div>
    <div id="contact">
        <h3>Kontakt meg!</h3>
        <input placeholder="din@epost.no" />
        <textarea rows="4" placeholder="Skriv en hyggelig melding"></textarea>
        <button>Send</button>
    </div>
</div>