<h2>Jan Thomas Hanto</h2>
<h4>Systemutvikler, gamer og nysgjerrig</h4>

<ul>
    <li>05.07.1989</li>
    <li>+47 97707757</li>
    <li><a href="mailto:jthanto@fixedyour.net">jthanto[at]fixedyour.net</a></li>

</ul>

<p>Jobber som systemutvikler i et lite firma med navn <a href="http://onevoice.no" target="_blank">
    One Voice</a>, hvor jeg er med på å utvikle norges største system for krisehåndtering og beredskap.</p>
<p>Hvorfor ikke redde verden samtidig som man jobber?</p>
<p>Fritiden min er fylt av samboer, gaming og tilfeldige tilfeller av trening.
    Jeg er overbevist at det finnes en app for alt, og jeg bruker flere av de.
    Når jeg er ferdig med å bruke appen, tar jeg igjen på "my tinfoil hat" og lurer på hvor alle de
    personlige dataene mine er.</p>