<h1>Jan Thomas Hanto</h1>
<h4>Nerd by heart, developer by trade</h4>

<ul>
    <li>05.07.1989</li>
    <li>+47 97707757</li>
    <li><a href="mailto:jthanto@fixedyour.net">jthanto[at]fixedyour.net</a></li>
</ul>

<p>Utdannet systemutvikler som har jobbet med webutvikling de seneste årene. Jeg
   er en typisk full-stack utvikler, som liker å være del av hele utviklingsprosessen.
   Inntrykket mitt er at det er lite man ikke kan lære, og man må rett og slett bare
   bestemme seg for hva man skal velge å fokusere på</p>
<p></p>
<p>Fritiden min er fylt av samboer, gaming og tilfeldige tilfeller av trening.
    Jeg er overbevist at det finnes en app for alt, og jeg bruker flere av de.
    Tidvis er jeg sikkerhetsbevist, og tenker at google ikke trenger all informasjonen
    de har om meg. </p>