<div id="profile">
    <div id="image_container">
        <div class="image-frame"><img id="profile_pic" src="/img/profile/hioa.vitnemaal.png" alt="Vitnemål HiOA"/></div>
        <div class="image-frame"><img id="profile_pic" src="/img/profile/jan.thomas.hanto.png" alt="Jan Thomas Hanto"/></div> <!-- @TODO legg til karusell! :D :O :D -->
        <div class="image-frame"><img id="profile_pic" src="/img/profile/sykkel.png" alt="Sykkel"/></div>
    </div>

    <div id="contact">
        <div id="contactHeader">
            <button id="btnContactSend">SEND</button>
        </div>
        <h3>Kontakt meg!</h3>

        <div class="clearfix"></div>

        <div id="contactContent">
            <textarea rows="4" placeholder="Skriv en hyggelig melding"></textarea>
        </div>

        <div id="contactRecipient">
            <input id="contactName" placeholder="Navn" value=""/>
            <input id="contactFrom" placeholder="din@epost.no" value=""/>
            <input id="contactOther" placeholder="evt. annet" value=""/>
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
</div>
