<h1>Curriculum vitae</h1>
<ul>
    <li><strong>Jan Thomas Hanto</strong></li>
    <li>05.07.1989</li>
    <li>Bøckmans veg 40A, 7022 Trondheim</li>
    <li>+47 97707757</li>
    <li><a href="mailto:jthanto@fixedyour.net">jthanto[at]fixedyour.net</a></li>
</ul>

<h2>Utdanning</h2>

<h3>Bachelor ingeniørfag - Data </h3>
<h4>Høgskolen i Oslo og Akershus (Aug. 2011 - Jun. 2014)</h4>
<p>Utdanningen bestod i hovedsak av programmeringsfag og fag av annen teknisk art, men med ingeniørgraden kommer er det også fag med fokus på andre områder. De andre fagene er realfaglig- eller ledelsesorientert.</p>
<p><strong>Hovedoppgave: </strong> Perspect.io - Et fleksibelt og kraftig verktøy for visualisering av big data. Hovedoppgaven ble gjort i en gruppe på fire. Sterkt knyttet opp mot OpenTSDB, og stikkord som node.js, jQuery og Google Charts forklarer hva produktet er laget av.</p>
<p>Mer informasjon om hovedoppgaven kan du finne på <a href="http://student.cs.hioa.no/hovedprosjekter/data/2014/24/">prosjektsiden</a> vår.</p>

<h3>Realfagskompetanse</h3>
<h4>Høgskolen i Vestfold</h4>
<p></p>

<h3>Generell studiekompetanse</h3>
<h4>Horten Videregående skole (Aug. 2005 - Jun. 2008)</h4>

<h2>Arbeidserfaring</h2>

<h3>Butikkselger</h3>
<h4>Clas Ohlson Tønsberg (Jun. 2014 - Aug. 2014)</h4>
<p>Arbeidsoppgavene mine gikk i hovedsak ut på kundeveileding og finne rett produkt til rett kunde, og eventuelle returer og reklamasjoner. Et viktig aspekt ved å finne rett produkt er en ryddig avdeling, og fikk derfor avdelingsansvar på multimedia. </p>

<h3>Studentassistent web</h3>
<h4>Høgskolen i Oslo og Akershus (08.2012 - 11.2013)</h4>
<p>Studentassistent i to fag. Ett på mitt eget fakultet (Web-prosjekt), og ett for biblotekarlinja (Brukere, gjenfinning og systemer).</p>
<p>Web-prosjektfaget hadde i første omgang fokus på "gult belte"-pensum, altså HTML og CSS, men ble mer PHP og jQuery/JavaScript orientert etterhvert. Mine oppgaver her var veileding i arbeidstimer, noen ganger også fritiden. Samt retting av obligatoriske oppgaver.</p>
<p>Brukere, gjenfinning og systemer hadde fokus på PHP og MySQL, hvor hoveddelen gikk på komunikasjonen mellom disse. Her var det kun veileding i arbeidstimer</p>

<h3>Ekstrahjelp / sommervikar</h3>
<h4>Clas Ohlson Tønsberg (06.2010 - 08.2011)</h4>
<p>Ringehjelp med faste arbeidsdager hver uke. Siste sommeren hadde jeg også vikarierende avdelingsansvar på baderomsavdelingen.</p>


<h2>Egne prosjekter</h2>
<p><a href="http://www.fixedyour.net">Fixedyour.net</a>: Personlig lekeplass og hjemmeside. Her prøver jeg nye ting, og bruker det som en personlig presentasjonssde av meg selv.</p>
<p><a href="http://www.fixedyour.net/ingfab-home">Ingeniørfabrikken</a>: Hjemmesidene til Ingeniørfabrikken, en studentorganisasjon på Høgskolen i Oslo og Akershus. Utviklet i PHP, med brukerregistrering og prosjektopplastning. Er ikke ferdig utviklet, men er fastsatt ferdigstilling i midten av september senest. Da blir den funnet på <a href="http://ingfab.no">ingfab.no</a></p>

<h2>Annet</h2>
<h3>Førstegangstjeneste</h3>
<h4>Gardermoen Militære Flystasjon/Madla (Jan. 2009 - Des. 2009)</h4>
<p>Hadde rekrutten på Madla i Stavanger, og dro videre derfra til Gardermoen og var Terminalassistent der. Min tjeneste gikk ut på håndtering av pax og bagasje, innsjekk, bilettbestilling, telefonsupport og truckkjøring. Ble også korporal på mitt opphold der som førte til mer ansvar i forhold til andre medsoldater</p>