<div id="curriculumvitae">
    <h1>Curriculum vitae</h1>
    <ul>
        <li><strong>Jan Thomas Hanto</strong></li>
        <li>05.07.1989</li>
        <li>Bøckmans veg 40A, 7022 Trondheim</li>
        <li>+47 977 07 757</li>
        <li><a href="mailto:jthanto@fixedyour.net">jthanto[at]fixedyour.net</a></li>
    </ul>

    <div class="cv-container">
        <div class="row">
            <div class="left-cell">
                <h2>Arbeidserfaring</h2>
            </div>
        </div>
        <div class="row">
            <div class="left-cell">Okt. 2014 - Aug. 2016</div>
            <div class="right-cell">
                <h3>Systemuvikler</h3> <h4>hos One Voice AS (Okt. 2015 - d.d)</h4>
                <p>OneVoice AS er Norges største it-bedrift for utvikling av programvare innenfor krisehåndtering og beredskap. Min jobb her er videreutvikling av eksisterende
                    komponenter og moduler, utvikling av nye moduler med hjelp av vårt eget rammeverk. </p>
                <p>
                    Jeg har også vært med på kundeoppdrag for å løse mer spesifikke problemstillinger som
                    har åpnet for økt kreativitet. Her har jeg blandt annet utviklet et timeføringssystem med
                    tilhørende rapporter (intern oppdrag), og vært med på ett større prosjekt hvor hvor flere
                    av våre kunder skulle snakke med en server via webservices.
                    </p><p>Språk: PHP, MySql, og jQuery frontend.</p>
            </div>
        </div>

        <div class="row">
            <div class="left-cell">Jun. 2014 - Aug. 2014</div>
            <div class="right-cell">
                <h3>Butikkselger</h3> <h4>hos Clas Ohlson Tønsberg</h4>
                <p>Arbeidsoppgavene mine gikk i hovedsak ut på kundeveileding og finne rett produkt til rett kunde, og eventuelle returer og reklamasjoner. Et viktig aspekt ved å finne rett produkt er en ryddig avdeling, og fikk derfor avdelingsansvar på multimedia. </p>
            </div>
        </div>

        <div class="row">
            <div class="left-cell">Aug. 2012 - Des. 2013</div>
            <div class="right-cell">
                <h3>Studentassistent</h3> <h4>hos Høgskolen i Oslo og Akershus</h4>
                <p>Studentassistent i to fag. Ett på mitt eget fakultet (Web-prosjekt), og ett for biblotekarlinja (Brukere, gjenfinning og systemer).</p>
                <p>Web-prosjektfaget hadde i første omgang fokus på "gult belte"-pensum, altså HTML og CSS, men ble mer PHP og jQuery/JavaScript orientert etterhvert. Mine oppgaver her var veileding i arbeidstimer, noen ganger også fritiden. Samt retting av obligatoriske oppgaver.</p>
                <p>Brukere, gjenfinning og systemer hadde fokus på PHP og MySQL, hvor hoveddelen gikk på komunikasjonen mellom disse. Her var det kun veileding i arbeidstimer</p>
            </div>
        </div>

        <div class="row">
            <div class="left-cell">Jun. 2010 - Aug. 2011</div>
            <div class="right-cell">
                <h3>Ekstrahjelp / sommervikar</h3> <h4>hos Clas Ohlson Tønsberg</h4>
                <p>Ringehjelp med faste arbeidsdager hver uke. Siste sommeren hadde jeg også vikarierende avdelingsansvar på baderomsavdelingen.</p>
            </div>
        </div>
    </div>


    <div class="cv-container">
        <div class="row">
            <div class="left-cell">
                <h2>Utdanning</h2>
            </div>
        </div>
        <div class="row">
            <div class="left-cell">Aug. 2011 - Jun. 2014</div>
            <div class="right-cell">
                <h3>Bachelor ingeniørfag</h3> <h4>på Høgskolen i Oslo og Akershus</h4>
                <p>Utdanningen bestod i hovedsak av programmeringsfag og fag av annen teknisk art, men med ingeniørgraden kommer er det også fag med fokus på andre områder. De andre fagene er realfaglig- eller ledelsesorientert.</p>
                <p><strong>Hovedoppgave: </strong> Perspect.io - Et fleksibelt og kraftig verktøy for visualisering av big data. Hovedoppgaven ble gjort i en gruppe på fire. Sterkt knyttet opp mot OpenTSDB, og stikkord som node.js, jQuery og Google Charts forklarer hva produktet er laget av.</p>
                <p>Mer informasjon om hovedoppgaven kan du finne på <a href="http://student.cs.hioa.no/hovedprosjekter/data/2014/24/">prosjektsiden</a> vår.</p>
            </div>
        </div>

        <div class="row">
            <div class="left-cell">Jan. 2010 - Jun. 2011</div>
            <div class="right-cell">
                <h4>Realfagskompetanse på Høgskolen i Vestfold</h4>
            </div>
        </div>
        <div class="row">
            <div class="left-cell">Aug. 2005 - Jun. 2008</div>
            <div class="right-cell"><h4>Generell studiekompetanse på Horten Videregående skole</h4></div>
        </div>
    </div>

    <div class="cv-container">
        <div class="row">
            <div class="left-cell">
                <h2>Egne prosjekter</h2>
            </div>
        </div>

        <div class="row">
            <div class="left-cell">&nbsp;</div>
            <div class="right-cell">
                <a href="http://www.fixedyour.net"><h4>Fixedyour.net</h4></a>
                <p>Personlig lekeplass og hjemmeside. Her prøver jeg nye ting, og bruker det som en personlig presentasjonssde av meg selv.</p>
            </div>
        </div>
        <div class="row">
            <div class="left-cell">&nbsp;</div>
            <div class="right-cell">
                <h4>dota.cafe</h4>
                <p>Stedet man skal kunne gjøre sine predictions i Dota 2 turneringer. Dette prosjektet er i startfase, og ligger i et private repo på github</p>
                <p>Tanken er å generalisere hele systemet slik at man kan sette opp predictions for alle type turneringer</p>
                <p>Prosjekt hvor jeg lærer meg Laravel.</p>
            </div>
        </div>
    </div>
    <div class="cv-container">
        <div class="row">
            <div class="left-cell">
                <h2>Annet</h2>
            </div>
        </div>
        <div class="row">
            <div class="left-cell">Jan. 2014 - Nov 2014</div>
            <div class="right-cell">
                <h4>Nestleder hos Ingeniørfabrikken på HiOA</h4>
                <p>Ingeniørfabrikken ble startet opp i Januar 2014, og skulle være et fristed og lekeplass
                    med store muligheter for å lære mer om sitt eget fagfelt. </p><p>Dette var studentforeningen for
                de som ønsket å få mest mulig ut av utdannelsen sin, samtidig som de fikk være litt mer
                praktiske enn hva ordinære skoleoppgaver tillot.</p>
            </div>
        </div>
        <div class="row">
            <div class="left-cell">Jan. 2009 - Des. 2009</div>
            <div class="right-cell">
                <h4>Førstegangstjeneste på Gardermoen Militære Flystasjon/Madla </h4>
                <p>Hadde rekrutten på Madla i Stavanger, og dro videre derfra til Gardermoen og var Terminalassistent der. Min tjeneste gikk ut på håndtering av pax og bagasje, innsjekk, bilettbestilling, telefonsupport og truckkjøring. Ble også korporal på mitt opphold der som førte til mer ansvar i forhold til andre medsoldater</p>
            </div>
        </div>

    </div>

</div>