<h2>Prosjekt</h2>
<ul>
    <li><a href="http://fixedyour.net">fixedyour.net</a> - Personlig hjemmested, og lekeplass</li>
    <li><a href="http://pokedex.it">pokedex.it</a> - Pokedex uten lagring backend</li>
    <!--<li><a href="http://fixedyour.net/ingfab-home">Ingeniørfabrikken</a></li>-->
    <li><a href="http://student.cs.hioa.no/hovedprosjekter/data/2014/24/">perspect.io</a> - Hovedoppgave</li>
</ul>