<h2>Prosjekt</h2>
<ul>
    <li><a href="https://fixedyour.net">fixedyour.net</a> - Personlig hjemmested, og lekeplass</li>
    <li><a href="http://pokedex.fixedyour.net/" target="_blank">pokedex.it</a> - Rent frontend prosjekt</li>
    <li><a href="https://hanto.dev" target="_blank">hanto.dev</a>- Egentlig et domene jeg kjøpte for mail.</li>
</ul>